<div class="container-fluid d-flex flex-column">
  <h1 class="text-center">Customers</h1>
  <table class="table table-striped table-inverse">
    <thead class="thead-inverse">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody *ngFor="let customer of customers">
      <tr>
        <td scope="row">{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex flex-row-reverse">
    <button
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#customerModal"
    >
      Add a customer
    </button>
  </div>
</div>
<div
  class="modal"
  tabindex="-1"
  id="customerModal"
  data-backdrop="static"
  data-keyboard="false"
  aria-labelledby="customerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a customer</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Customer name</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              placeholder="customer name"
              aria-describedby="helpId"
              ngModel
            />
            <small id="helpId" class="text-muted"
              >The name of the customer</small
            >
          </div>
          <div class="form-group">
            <label for="email">Customer email</label>
            <input
              type="text"
              name="email"
              id="email"
              class="form-control"
              placeholder="customer name"
              aria-describedby="helpId"
              ngModel
            />
            <small id="helpId" class="text-muted"
              >The e-mail of the customer</small
            >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
